.news {
  margin-top: 30px;
  &__inner {
    background-color: #2A2A47;
    border-radius: 32px;
    padding: 15px;
    max-width: 530px;
  }
  &__description {
    color: #7a7a7a;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }
  &__title {
    color: #ffffff;
    font-size: 40px;
    line-height: 1.3em;
    margin: 0;
    max-width: 380px;
  }
  &__text {
    font-size: 12pt;
    color: #bcbcbc;
    margin: 0;
    margin-top: 10px;
    max-width: 470px;
  }
  &__date {
    font-size: 10pt;
    color: #7a7a7a;
    &--desc {
      margin-left: 10px;
      color: #ffffff;
      font-weight: bold;
    }
  }
  &__price {
    padding: 10px;
    padding-bottom: 20px;
    &-title {
      font-size: 36pt;
      margin: 0;
      margin-top: 10px;
      color: #2a2a47;
      font-weight: 700;
    }
    &-text {
      margin: 0;
      font-size: 11pt;
      color: #2a2a47;
    }
    &-desc {
      color: #929292;
      font-size: 10pt;
    }
  }
  &__price-btn {
    max-width: 334px;
    margin-top: 40px;
  }
}

@media (min-width: $tablet-width) {
  .news {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__inner {
      background-color: #2A2A47;
      border-radius: 32px;
      padding: 30px;
      width: 530px;
      max-height: 500px;
    }
    &__title {
      font-size: 45px;
    }
    &__price {
      width: 33%;
      padding-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {

}